<script>
    function removeBasketItem(current) {
        var basketsDishId = $(current).attr("baskets_dish_id");
        
        $.ajax({
            async : true,
            type : 'POST',
            url : "/baskets/remove_basket_item/" + basketsDishId,
            success : function(data) {
                $('#baskets_dynamic_div').html(data);
            },
            error : function(data) {
            }
        });        
    }
    
    function calculateSubtotal() {
        var subTotal = 0;
        $('[id=total]').each(function() {
            subTotal += Number(this.innerHTML);
        });
        $("#sub_total").html(subTotal.toFixed(2));
    }
    
    function changeQuantity(current, orderId) {
        var txtQty = $(current).parents("#parent_div").find("input[id=quantity]").val();
        var maxQty = parseFloat($("#max_quntity_div_" + orderId).html().trim());
        if ($(current).attr('id') == '+') {
            txtQty = parseInt(txtQty) + 1;
        } else {
            txtQty = parseInt(txtQty) - 1;
        }
        if (maxQty == 0 && ( $(current).attr('id') == '+' ) ) {
            alert("Quantity should not be greater than available quantity");
            $(current).parents("#parent_div").find("input[id=quantity]").focus();
            return;
        }
        if (txtQty == 0) {
            $(current).parents("#parent_div").find("input[id=quantity]").focus();
            return;
        }
        var basketsDishId = $(current).attr("baskets_item_id");
        
        if (txtQty == "") {
            txtQty = 1;
            $(current).parents("#parent_div").find("input[id=quantity]").val(1);
        }
        if(!$(current).hasClass('valid_for_ajax_request')){    
            $(current).addClass('valid_for_ajax_request');
                $.ajax({
                    async: true,
                    type: "POST",
                    url: '/baskets/change_quantity/' + basketsDishId + '/' + txtQty,
                    success: function(data){
                            var rcPrice = parseFloat($(current).parents("#dish_item_div").find("div[id=rcPrice]").text());
                            var totalTxt = $(current).parents("#dish_item_div").find("#total");
    
                            $(totalTxt).html((txtQty * (rcPrice)).toFixed(2));
                            $(current).parents("#parent_div").find("input[id=quantity]").val(txtQty);
                            calculateSubtotal();
                            $("#baskets_dynamic_div").html(data);
                            $(current).removeClass("valid_for_ajax_request");
    
                            var subTotal = parseFloat($('#sub_total').text());
                            var prevTotal = parseFloat($(current).parents("#dish_item_div").find("#total").text());
                            $('#sub_total').text( (subTotal - prevTotal+((txtQty * (rcPrice)))).toFixed(2) );   
                    },
                    error:function(data){
                         $(current).removeClass("valid_for_ajax_request");  
                    }
                });
            }
        }
        
    function checkValidateForAllLineItems(){
			// alert($('#is_invalid').length > 0);
	if($('#is_invalid').length > 0){
	   alert('Please delete item/s which are highlighted in red dotted lines to proceed.');
		return false;
		}
	}
</script>
<div class="ShoppingCart">
	<% current_basket = get_current_basket %>
	<% current_basket.line_items.order('id').each do |f| %>
		<% meal_category = f.meal_category 
			meal = meal_category.meal
		%>
		<% if (meal_category.present? && meal_category.status == MEAL_STATUS_ACTIVE) %>
			<div id="dish_item_div" style="margin-bottom: 3px" class="<%= f.is_valid ? 'valid' : 'invalid_line_item' %>" >
					<% if !f.is_valid %>	
 						<div id='is_invalid' class ='is_invalid' style="display: none"></div>       
					<% end %>
				<div class="SC_Itembolck">
					<%= link_to '', '', :onclick => 'removeBasketItem(this);', :baskets_dish_id => f.id, :remote => true, :class => "SC_Item_close" %>
					<div class="SC_Item_row">
						<div class="SC_Item_Col_L">
							<% if meal.picture.nil? %>
								<img src="/assets/dish_default.jpg" class='SC_Item_Thumb' />
							<% else %>
								<img src="<%= meal.picture.image.thumb.url if meal.picture.image.thumb.url.present? %>
								<%= "/assets/dish_default.jpg" if !meal.picture.image.url.present? %>" class='SC_Item_Thumb' />
							<% end %>
							<!-- <img src="assets/images/Thumbs/Thumb_RC_Search_1.jpg" width="48" height="50" class="SC_Item_Thumb"/> -->
						</div>
						<div class="SC_Item_Col_R">
							<label style="font-size:18px; color:#bb0000;"><%= meal.meal_name.capitalize %></label>
							<div style="width: 148px; height: auto;">
								<label style="font-size:12px;">Serving Size : <%= meal.serving_size %></label>
							</div>
		
						</div>
					</div>
					<div class="SC_Item_row">
						<div id='parent_div' class="SC_ChQty_Block">
							<div id='save_link_div1' style="width: 10px; height: 10px">
								<%= link_to '', '', :onclick => "changeQuantity(this,#{f.id});", :baskets_item_id => f.id, :remote => true, :id => '+', :class => "SC_AddQty_Btn", :title => "Increase Quantity" %>
								<!-- <a href="#" class="SC_AddQty_Btn" title="Increase Quantity"></a> -->
							</div>
		
							<div id='quantity_div'>
								<%= text_field_tag :quantity, f.quantity, :id => 'quantity', :onKeyPress => 'return showSaveLink(this, event);', :onKeyUp => 'return showSaveLink(this, event);', :class => 'QtyHolder', :readonly=> true %>
								<!-- <input name="" type="text" value="123" class="QtyHolder" /> -->
							</div>
							<div id='save_link_div2' style="width: 10px; height: 10px">
								<%= link_to '', '', :onclick => "changeQuantity(this,#{f.id});", :baskets_item_id => f.id, :remote => true, :id => '-', :class => "SC_RemQty_Btn", :title => "Decrease Quantity" %>
								<!-- <a href="#" class="SC_RemQty_Btn" title="Decrease Quantity"></a> -->
							</div>
						</div>
						<div id='rcPrice' style='display: none'>
							<%= meal_category.rc_total_price %>
						</div>
						<div id='total_div' class='PriceHolder'>
							<%= label_tag f.total_price, nil, :id => 'total' %>
						</div>
						<div style='display: none'>
							<%= meal.min_capacity %>
						</div>
						<div id="max_quntity_div_<%= f.id %>" style='display: none'>
							<%= meal.max_available_capacity(session[:user_input][:delivery_date].to_time, get_current_basket) %>
						</div>
					</div>
				</div><!--end SC_Itembolck-->
			</div>
		<% end %>
	<% end  if current_basket.present? %>
	
	<% if current_basket.total_quantity.to_i != 0 %>
			<div class="SC_Totalbolck">
				<div class="SC_Total_row">
					<div class="SC_Total_Col_L" style="font-size:18px; color:#333;">
						Subtotal: <!-- <small>1-Item</small> -->
					</div>
					<div id="baskets_sub_total" class="SC_Total_Col_R" style="font-size:24px; color:#333; text-align:right; background:url(assets/RS_Symbol.jpg) 65px 2px no-repeat;">
						<%= label_tag current_basket.sub_total, nil, :id => "sub_total" ,:class => "SC_Total_Col_R", :style=>"font-size:24px; color:#333; text-align:right;"%>
					</div>
				</div>
				<div class="SC_Total_row">
					Estimate your shipping cost with Tax calculation.
				</div>
				<div class="SC_Total_row" style="text-align:center;">
			    <%= form_tag baskets_view_path do %>
					<!-- < %= image_submit_tag("/assets/icon/color_icon/basket_checkout.png", :title=>'Proceed to Check Out', :id => 'check_out', :alt => "Proceed to CheckOut") % > -->
					<!-- <input type="button" value="Check Out" class="btncheckout" /> -->
					<%= text_area_tag :special_instructions, '', :style => 'width: 185px;', :placeholder => 'Special Instruction' %>
					<%= submit_tag 'Check Out',:class => 'btncheckout' ,:onclick => 'return checkValidateForAllLineItems()' %>
					1 Click Ordering
				<% end %>
				<div class="clearfix"></div>
				</div>
				<div class="clear"></div>
			</div><!--end SC_Totalbolck-->
	<% end if current_basket.present? %>
</div>
