<script>
$(document).ready(function() {
    
    $("input[id^=shipping]:radio").css('margin-top', '-3px');
    $("input[id^=billing]:radio").css('margin-top', '-3px');
    
 // ajax call to validate basket before conform order
 	$('#btnsubmit_confirm').click(function (event) {					
		var retval;
		$.ajax({
			url: '/baskets/before_order_conform_validations',
			async: false,
        	type:"POST",
			success: function(data) {
				  	retval = data;
				  	if(!(typeof data === 'undefined') && data.length > 0) {
				  		$("#basket_line_items_div").html(data);			  		
				  		event.preventDefault();		  		
				  	}else {	
				  		return true;
				  	}			  	
			 }
		});
	});   
// end 	
});
</script>
<%= form_for address, :url => baskets_proceed_to_check_out_path do |f| %>
<% if addresses.present? %>
<table border="1" cellspacing="0" cellpadding="2" id="address_table">
    <tr style="background:#900; text-align:center;">
        <th style="width:50%;"><h4>Your Registered Address</h4></th><!-- <th><h4>Shipping Address</h4></th><th ><h4>Billing Address</h4></th> -->
    </tr>
    <tr>
        <td>
        <% addresses.each do |a| %>
            <%= render :partial => 'basket_address_details', :locals => { :address => a, :selection => true } %>
        <% end %> </td>
    </tr>
</table>
<% end %>
<%= f.hidden_field :user_id %>
<table border="1" cellspacing="0" cellpadding="2" id="address_form_table">
    <tr style="background:#900; text-align:center;">
        <th style="width:50%"><h4>Add Another Address</h4></th><th><h4>Shipping Address</h4></th><th ><h4>Billing Address</h4></th>
    </tr>
    <tr>
        <td>
        <table width="100%" border="0" cellspacing="0" cellpadding="2">
            <tr>
                <td colspan="3" style="border-bottom: 1px solid #666"> Fields marked
                <sapn style="color: red;" >
                    *
                </sapn> are mandatory.
                <div class="auth-error" style="color: red;">
                    <% flash.each do |name, msg| %>
                    <%= content_tag :div, msg, :id => "flash_#{name}" %> </ br>
                    <% end %>
                </div></td>
            </tr>
            <tr>
                <td><label>Name</label></td>
                <td style="width:5px;">:</td>
                <td><%= (u = address.user).first_name.present? ? "#{u.first_name} #{u.last_name}" : u.primary_email_id %></td>
            </tr>
            <tr>
                <td><label>Address Heading</label></td>
                <td style="width:5px;">:</td>
                <td><%= f.text_field :name %></td>
            </tr>
            <tr>
                <td><label>Address line1
                    <sapn style="color: red;" >
                        *
                    </sapn></label></td>
                <td style="width:5px;">:</td>
                <td><%= f.text_field :line1, :title => 'Street address, P.O. box, company name, c/o' %></td>
            </tr>
            <tr>
                <td><label>Address line2</label></td>
                <td style="width:5px;">:</td>
                <td><%= f.text_field :line2, :title => '' %></td>
            </tr>
            <tr>
                <td><label>Address line3</label></td>
                <td style="width:5px;">:</td>
                <td><%= f.text_field :line3, :title => 'optional'  %></td>
            </tr>
            <tr>
                <td><label>Landmark</label></td>
                <td style="width:5px;">:</td>
                <td><%= f.text_field :landmark %></td>
            </tr>
            <tr>
                <td><label>Area
                    <sapn style="color: red;" >
                        *
                    </sapn></label></td>
                <td style="width:5px;">:</td>
                <td> <!-- < % if @is_daily_items_present % > -->
                <%= f.text_field :area, :readonly => true, :class => 'medium' %>
                <!-- < % else % >
                < %= f.autocomplete_field :area, autocomplete_area_name_searches_path, :class => 'medium' % >
                < % end % > --> </td>
            </tr>
            <tr>
                <td><label>City
                    <sapn style="color: red;" >
                        *
                    </sapn></label></td>
                <td style="width:5px;">:</td>
                <td><%= f.text_field :city, :readonly => true, :class => 'medium' %></td>
            </tr>
            <tr>
                <td><label>State
                    <sapn style="color: red;" >
                        *
                    </sapn></label></td>
                <td style="width:5px;">:</td>
                <td> <%= f.text_field :state, :readonly => true, :class => 'medium' %> <!-- < % = f.select :state, STATES, :class => 'medium', :prompt =>'Select State' % > --></td>
            </tr>
            <tr>
                <td><label>Pin Code
                    <sapn style="color: red;" >
                        *
                    </sapn></label></td>
                <td style="width:5px;">:</td>
                <td> <!-- < % if @is_daily_items_present % > -->
                <%= f.text_field :pincode, :readonly => true, :class => 'medium' %>
                <!-- < % else % >
                < %= f.text_field :pincode % >
                < % end % >  --></td>
            </tr>
            <tr>
                <td><label>Country
                    <sapn style="color: red;" >
                        *
                    </sapn></label></td>
                <td style="width:5px;">:</td>
                <td> <%= f.select :country, COUNTRY, :class => 'medium', :prompt => 'Select Country' %> </td>
            </tr>
        </table></td>
        <td> <%= radio_button_tag 'shipping_address', address.id, :selected => true %>
        Save this as my Shipping Address </td>
        <td> <%= radio_button_tag 'billing_address', address.id, :selected => true %>
        Save this as my Billing Address </td>
    </tr>
</table>

<div class="order_conf_nav">
    <input type="checkbox" name="terms_and_conditions" value="Yes" style="margin-top:-2px;" />
    Agree to all the <a href="/Consumer_Terms_Conditions.pdf" target="_blank" >Terms &amp; Conditions</a>
    <sapn style="color: red;" >*</sapn>
    <%= f.submit "Confirm & Finish your order", :id=> 'btnsubmit_confirm', :class => "submit" %><!-- Proceed to Check Out -->
</div><!--order_conf_nav-->
<% end %>