<script>
    function deleteAddress(me)
    {       
        iDiv = me.parentNode;
        //alert(iDiv.outerHTML);
                                    
        $.ajax({
          url: $(me).attr('href'),
          type: 'DELETE',
          success: function(e) {
            $(iDiv).fadeOut(1000);   
          }
        });     
        
        return false;
    }
    
    function onHover(me)
    {       
        $(me).toggleClass('divonhover');
        return false;
    }
</script>

<div class="addressbox" onmouseover="onHover(this);" onmouseout="onHover(this);">
    <div style="background-color: #EEEECC">
        <span>&nbsp;<%= address.name %></span>
    </div>
    <!-- < % = link_to "Ship to this Address", :controller => 'baskets', :action => 'check_out', :id => address.id % ><br /> -->
    <span style="font-weight: bold;font-size: 12px;">
        &nbsp;<%= (u = address.user).first_name.present? ? "#{u.first_name} #{u.last_name}" : u.primary_email_id %><br />
    </span>
    <% if !address.line1.blank? %>
        &nbsp;<%= address.line1 %><br />
    <% end %>
    <% if !address.line2.blank? %>
        &nbsp;<%= address.line2 %><br />
    <% end %>
    <% if !address.line3.blank? %>
        &nbsp;<%= address.line3 %><br />
    <% end %>
    <% if !address.landmark.blank? %>
        &nbsp;<%= address.landmark.capitalize %><br />
    <% end %>
    <% if !address.area.blank? %>
        &nbsp;<%= address.area.capitalize %><br />
    <% end %>
    <% if !address.city.blank? %>
        &nbsp;<%= address.city.capitalize %><br />
    <% end %>
    <% if !address.state.blank? %>
        &nbsp;<%= address.state %><br />
    <% end %>
    <% if !address.pincode.blank? %>
        &nbsp;<%= address.pincode %><br />
    <% end %>
    <% if !address.country.blank? %>
        &nbsp;<%= address.country.capitalize %><br />
    <% end %>       
    <% if selection == true %>
    <div align="center">
        <label style="display: block; font-weight: bold; text-align: center"> Select this address as:</label>
        <span>
            <span><%= radio_button_tag 'shipping_address', address.id %></span><span> Shipping Address </span>
            <span><%= radio_button_tag 'billing_address', address.id %></span><span> Billing Address</span>
        </span>
    </div>
    <% end %>
    <!-- < % = link_to "edit", edit_address_path(address), :class=> 'clsedit', :onclick => 'getAddress(this); return false;' % > | < % = link_to "delete", address_path(address), :class => 'clsdelete', :onclick => 'deleteAddress(this); return false;' % > -->   
</div>