
<p>
    Hello <%= @kitchen.kitchen_name %>,
</p>
<p>
    Congratulations!. Order has been booked against your kitchen. Please find the order details:
</p>
<p>
    <b style="font-size: 25px;">Delivery <span style="color: red">Date:</span></b>
    <br />
    <%= @order.delivery_date.strftime('%d %B %Y') %><br /><br />
</p>
<p>
    <b style="font-size: 25px;">Order <span style="color: red">Details:</span></b>
</p>
<table border="1">
    <tr>
        <td width="90px"><b>S.No.</b></td>
        <td width="130px"><b>Menu Type</b></td>
        <td width="270px"><b>Item</b></td>
        <td width="100px"><b>Kitchen Price(INR)</b></td>
        <td width="100px"><b>Packaging Price(INR)</b></td>
        <td width="100px"><b>Unit Price(INR)</b></td>
        <td width="100px"><b>Quantity</b></td>
        <td width="100px"><b>Total Price(INR)</b></td>
        
    </tr><% s_no = 0 %>
    <% @line_items.each do |line_item| %>
    	<% meal = line_item.meal_category.meal %>
        <tr>
            <td><%= s_no = s_no + 1 %></td>
            <td><%= meal.sub_menu.sub_menu_name %></td>
            <td><%= meal.meal_name %></td>
            <td><%= meal.kitchen_price %></td>
            <!-- <td>< %= line_item.dish_menu_item.packaging_flag? ? 0.0 : line_item.dish_menu_item.packaging_price % ></td>
            <td>< %= line_item.dish_menu_item.packaging_flag? ? line_item.dish_menu_item.kitchen_price : line_item.dish_menu_item.rc_price % ></td> -->
            <td><%= line_item.quantity %></td>
            <td><%=  meal.kitchen_price * line_item.quantity %></td>
        </tr>
    <% end %>
    <tr>
        <td colspan="7" align="right"><b>Grand Total</b></td>
        <td><%= @order.grand_total %></td>
    </tr>
</table>

<% if @order.special_instructions.present? %>
    <br />
    <p>
        Special Instructions:&nbsp;&nbsp;<%= @order.special_instructions %>
    </p>
<% end %>
<br />

<% if !@order.delivery_time.nil? %>
	<p>
		<span style="color: red">*</span>Party/Festival Items delivery time selected by User :<%= @order.delivery_time %>
	</p>	
<% end %>

<br /><br />
<p>
    <b style="font-size: 25px;">Your <span style="color: red">Commitment</span></b>
    <ul>
        <li>
            Please keep your order ready as committed. Our Operations team will call and confirm the pick-up time.
        </li>
        <li>
            Kindly reply to <%= OPERATIONS_EMAIL %> or call us at 98817-37978 immediately if you have any queries.
        </li>
        <li>
            Orders once placed cannot be updated/rejected at your end.
        </li>
    </ul>
</p>
<p>
    Thank you for trusting us with your kitchen, we will make sure you are getting more orders as we grow.
</p>
<p>
    <br />
    Regards,<br />
    Rasoi Club Operations Team<br />
    www.Rasoiclub.com<br />
    This is a system generated mail. Please do not reply.
</p>