<p>
    Welcome <%= @lgn.user.get_name_or_email %>!
</p>
<p>
    Your profile has been created on Rasoi Club.
</p>
<p>
  <table width="100%" cellpadding="2" cellspacing="0"  id="detailpan" border=1>
      <tr class="hd">
          <td colspan="2"><span>Your Details</span></td>
      </tr>
      <tr>
          <td align='Centre'>
            <table width="90%" cellpadding="2" cellspacing="0" border=0>
              <tr>
                  <td valign='top'><label class="labelcol">Name: </label><%= @lgn.user.first_name + ' ' + @lgn.user.last_name %><br /><br /></td>  
              </tr>                               
              
              <tr>
                  <td valign='top'><label class="labelcol">Primary Email Id: </label><%= @lgn.user.primary_email_id%></td>
                  <td valign='top'><label class="labelcol">Alternate Email Id: </label><%= @lgn.user.alternate_email_id %><br /><br /></td>
              </tr>
              <tr>
                  <td valign='top'><label class="labelcol">Primary Mobile Number: </label><%= @lgn.user.primary_mobile_number%></td>
                  <td valign='top'><label class="labelcol">Alternate Contact Number: </label><%= @lgn.user.alternate_contact_number%><br /><br /></td>
              </tr>
              <tr>
                  <td valign='top'><label class="labelcol">Status: </label><%= @lgn.user.status %></td>
                  <td>&nbsp;</td>
              </tr>     
            </table>
        </td>
      </tr>                      
  </table>
</p>
<p>
    <br />
    Regards,<br/>
    Rasoi Club Support<br/>
    www.rasoiclub.com<br/>
    A product of Online Rasoi Pvt. Ltd.<br /><br />
    This is a system generated mail. Please do not reply.
</p>
