<script>
	function validateFields() {
		if ($('#alternate_email_id').val().trim() == "") {
			$('#error_message').html("Please enter alternate Email Id");
			return false;
		} else
			return true;
	}
</script>

<div class="">
    <div class="auth-error" style="color: red;margin-top: 10px; margin-left: 134px;">
        <% flash.each do |k, v| %>
            <label style="color: #FF0000; font-size: 12px;"><%= v %></label>
        <% end %>
    </div>
	<div id="RC_Login_Wraper">
		<div id="RC_Login_Box">
            <%= form_tag logins_send_username_path do |f| %>
			<table width="100%" border="0" cellspacing="0" cellpadding="2">
				<tr>
                    <td align="center">
                        <h4> Forgot Username </h4>
                    </td>
                </tr>
                <tr>
                    <td><label class="subhead">Alternate Email Id</label></td>
                </tr>
                <tr>
                    <td>
                        <%= text_field_tag :alternate_email_id, '', :id => 'alternate_email_id', :style => "width:235px;" %>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label style="color: #FF0000; font-size: 12px;" id="error_message"></label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <%= submit_tag("Send", :class => 'loginbtn', :onclick => 'return validateFields();') %>
                        <%= submit_tag("Cancel", :class => 'loginbtn') %>
                    </td>
                </tr>
                <tr>
                    <td>Forgot <%= link_to("Password?", { :action=> 'forgot_password', :controller => 'logins'})%> | <%= link_to("Username?", { :action=> 'forgot_username',  :controller => 'logins'})%></td>
                </tr>
                <tr>
                    <td>
                        Login? <%= link_to "Click Here", {:action => 'new', :controller => 'logins'} %> | New Consumer? <%= link_to("Click Here",{:action=>'new',:controller =>'users'})%>
                    </td>
                </tr>
			</table>
			<% end %>
		</div><!--RC_Login_Box-->
		<div class="LoginBoxShadow"></div>
	</div><!--RC_Login_Wraper-->

	<div class="clear"></div>

</div><!-- END LEFT COL OF MAIN CONTENT-->

<div class="">

</div><!-- END RIGHT SIDE BAR COL OF MAIN CONTENT-->
<div class="clear"></div>