<table align="right" width="100%" border="0" cellspacing="0" cellpadding="2" style="background:#fef7ea; margin-bottom: 5px;">
    <tr style="border-bottom:1px solid #900;">
        <td style="width: 100px; font-weight:bold; padding-left:10px;">Order Number</td>
        <td style="width: 5px;">:</td>
        <td style="color:900; padding-right:45px;"><%= order.order_number %></td>
        <td style="width: 100px; font-weight:bold; padding-left:10px;">Order Date</td>
        <td style="width: 5px;">:</td>
        <td style="width: 130px; color:900; padding-right:45px;"><%= order.created_at.strftime("%d %B %Y %I:%M:%S") %></td>
    </tr>
    <% if order.parent? %>
    <tr style="border-bottom:1px solid #900;">
        <td style="width: 100px; font-weight:bold; padding-left:10px;">Customer Name</td>
        <td style="width: 5px;">:</td>
        <td colspan="4" style="color:900; padding-right:45px;"><%= order.user.first_name.present? ? ("#{order.user.first_name} #{order.user.last_name}").truncate(30) : (order.user.primary_email_id).truncate(40) %> </td>
    </tr>
    <% end %>
    <tr style="border-bottom:1px solid #900;">
        <td style="width: 100px; font-weight:bold; padding-left:10px;">Delivery Date</td>
        <td style="width: 5px;">:</td>
        <td style="color:900; padding-right:45px;"><%= order.delivery_date.strftime("%d %B %Y") %></td>
        <td style="width: 100px; font-weight:bold; padding-left:10px;">Order Status</td>
        <td style="width: 5px;">:</td>
        <td style="width: 130px; color:900; padding-right:45px;"><%= order.status %></td>
    </tr>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="2" style="background:#fef7ea;">
    <tr style="background:#900; color:#fff; text-align:left;">
        <th>Meal Name</th>
        <th>Kitchen Name</th>
        <th>Menu Type</th>
        <th>Category</th>
        <th>Unit Price (INR)</th>
        <th>Quantity</th>
        <th>Total Price</th>
    </tr>
        <% order.get_line_items.each do |li| %>
        <% meal_category = li.meal_category 
           meal = meal_category.meal
        %>
        
            <tr style="border-bottom:1px solid #900;">
                <td><%= meal.meal_name.titleize %></td>
                <td><%= meal.kitchen.kitchen_name.titleize %></td>
                <td><%= meal.sub_menu.sub_menu_name.titleize %></td>
                <td><%= meal_category.category.category_name.titleize %></td>
                <td><%= order.parent? ? li.unit_price : meal.kitchen_price %></td>
                <td><%= li.quantity %></td>
                <td><%= order.parent? ? li.total_price : (meal.kitchen_price * li.quantity) %></td>
            </tr>
        <% end %>
</table>

<table width="100%" border="0" cellspacing="0" cellpadding="2" style="margin-bottom: 5px;" id="address_table_holder">
    <tr>
        <td width="60%" style=" text-align:left; vertical-align:middle;">
            <span style = "font-weight: bold; display: block; margin-left: 10px;">Special Instructions : </span>
            <span style="width: 400px; margin-left: 10px; display: block;"><%= (sp_instruction = order.special_instructions).present? ? sp_instruction : "Not Available" %></span>
        </td>
        <td width="40%">
        <table align="right" width="98%" border="0" cellspacing="0" cellpadding="2" style="background:#fef7ea;">
            <% if order.parent? %>
            <tr style="border-bottom:1px solid #900;">
                <td style="width:200px; font-weight:bold; padding-left:10px;">Sub Total</td><td style="width:5px;">:</td><td style="width:400px; color:900; text-align:right; padding-right:45px;">Rs. <span id="sub_total"> <%= order.sub_total %> </span></td>
            </tr>
            <tr style="border-bottom:1px solid #900;">
                <td style="font-weight:bold; padding-left:10px;">Tax</td><td>:</td><td style=" color:900; text-align:right; padding-right:45px;">Rs. <span> <%= order.total_tax %> </span></td>
            </tr>
            <tr style="border-bottom:1px solid #900;">
                <td style="font-weight:bold; padding-left:10px;">D &amp; S Charges</td><td>:</td><td style=" color:900; text-align:right; padding-right:45px;">Rs. <span> <%= order.delivery_charge %> </span></td>
            </tr>
            <% end %>
            <tr style="border-bottom:1px solid #900;">
                <td style="font-weight:bold; padding-left:10px;">Grand Total</td><td>:</td><td style=" color:900; text-align:right; padding-right:45px;">Rs. <span id="grand_total"> <%= order.grand_total %> </span></td>
            </tr>
        </table></td>
    </tr>
</table>
<% if order.parent? %>
<table width="100%" border="0" cellspacing="0" cellpadding="2">
    <tr style="background:#900; color:#fff; text-align:left;">
        <th width="50%" >Shipping Address</th><th width="50%" >Billing Address</th>
    </tr>
    <tr>
        <td>
            <%= render :partial => '/baskets/basket_address_details', :locals => { :address => order.ship_address, :selection => false } %>
        </td>
        <td>
            <%= render :partial => '/baskets/basket_address_details', :locals => { :address => order.bill_address, :selection => false } %>
        </td>
    </tr>
</table>
<% end %>
