<script>
	$(document).ready(function () {
		/*$('.delivery_area_select_box').change(function() {
    	($(this).val() == "") ? (areaName = "") : (areaName = $(this).children("option").filter(":selected").text())
      var from_welcome_page = true;
      if ($(this).val() != ""){
        jQuery.get('/areas/get_pincodes_of_area/' + areaName + '/' + from_welcome_page, function(data) {
	        $('#pincode_dropdown_div').html(data);
          $('#pincode_dropdown_div, #area_submit_btn_div').show('slow');
        });
      }
      else{
      	$('#pincode_dropdown_div, #area_submit_btn_div').hide('slow');
        $('#pincode_dropdown_div').html('');
      }
    }).change();*/
	});
</script>

<%= form_for :search, :url => {:controller => 'searches', :action => 'index'} do |f| %>

	<div class="left">
		<div id="MainSliderArea">
	
		</div><!--end MainSliderArea-->
		<ul id="MainBlockNav">
			<li class="dailymeal">
				<table width="100%" cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td>
						<div class="textblock" style="color:#fff;">
							Get homemade authentic home cooked food at your desk while you are busy working.
						</div><!-- end text block --></td>
					</tr>
					<tr>
						<td>
						<!-- <input name="" type="button" class="BtnBlock" value="ORDER NOW" />  -->
						<%= f.submit "ORDER NOW", :name => 'dinner', :controller => 'searches', :class => "BtnBlock OrderBtn", :id => 'submit_dinner' %>
						</td>
					</tr>
				</table>
	
			</li><!-- end LI - daily meal -->
			<li class="divider"></li>
			<li class="partymeal">
				<table width="100%" cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td>
						<div class="textblock" style="color:#000;">
							Make your party memorable, with the delicacies of our Kitchens.
						</div><!-- end text block --></td>
					</tr>
					<tr>
						<td>
						<!-- <input name="" type="button" class="BtnBlock" value="ORDER NOW" />  -->
						<%= f.submit "ORDER NOW", :name => 'party', :controller => 'searches', :class => "BtnBlock OrderBtn", :id => 'submit_party' %>
						</td>
					</tr>
				</table>
	
			</li><!-- end LI - party meal -->
			<li class="divider"></li>
			<li class="featuredkitchen">
	
				<table width="100%" cellpadding="0" cellspacing="0" border="0">
					<tr>
						<td><div class="reemasK"></div><!-- end reemasK --></td>
					</tr>
					<tr>
						<td>
						<!-- <input name="" type="button" class="BtnBlock" value="VIEW KITCHEN" />  -->
						<%= f.submit "ORDER NOW", :name => 'featured_kitchen', :class => "BtnBlock OrderBtn" %>
						</td>
					</tr>
				</table>
	
			</li><!-- end LI - Featured Kitchen -->
		</ul>
		<div class="clear"></div>
		<div id="welcomeBlock">
			<div class="thumb">
				<a href="<%= new_kitchen_path %>">Register Kitchen</a>
			</div><!-- end thumb -->
			<p>
				Rasoi Club opens new frontiers for those who possess passion for cooking. Rasoi Club helps those who are passionate about cooking not only to showcase their talent and get appreciated for their culinary skills, but also to build a business from home out of their busy family life.
			</p>
			<p>
				Register your home kitchen with us and experience 'a sense of entrepreneurship'.
			</p>
		</div><!-- end welcome block -->
	</div><!-- END LEFT COL OF MAIN CONTENT-->


	<div class="right">
		<label class="subhead">Date of Delivery </label>
		<!-- <input name="" type="text" style="width:190px;" />
		<i class=" icon-calendar"></i>  -->
		<%= text_field_tag :delivery_date, (session[:user_input] && session[:user_input][:delivery_date].present?) ? session[:user_input][:delivery_date] : "", :style => "width:180px; margin-right: 10px;", :placeholder => "Select Delivery Date", :class => "datepick", :readonly => true %>
		<label class="subhead">My City</label>
		<!-- <select name="">
			<option value="1">1</option>
			<option value="1">1</option>
			<option value="1">1</option>
		</select> -->
		<%= select_tag :filter_city, options_from_collection_for_select(DeliveryZone.get_active_cities, :id, :city_name), {:id => "browse_by", :class => "select_box" } %>
		<label class="subhead">My Location</label>
		<!-- <select name=""></select>  -->
		<%= collection_select "", :area_id_by_area, Area.where(:status => AREA_STATUS_ACTIVE).to_a.uniq{|x| x.area_name}.sort{|a,b| a.area_name <=> b.area_name}, :id, :area_name_titleized, {:prompt => (session[:user_input] && session[:user_input][:area_id].present?) ? false : "Select Delivery Area", :selected => (session[:user_input] && session[:user_input][:area_id].present?) ? session[:user_input][:area_id].to_i : ""}, {:class => "delivery_area_select_box select_box"} %>
		<div id="pincode_dropdown_div" style="display: none">
			<!-- Here contents for dropdown are generated dynamically -->
		</div>	
		<hr/>
		  <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="http://www.facebook.com/RasoiClub" layout="button_count" show_faces="true" width="450" font="verdana"></fb:like>
		<hr/>
	
		<label class="subhead">Dish of the day</label>
		<div class="Dishofday">
			<label style="cursor: auto;">Paneer Tikka</label>
			<!-- <a href="#" style="float:right; margin-right:5px;">Order Now</a> -->
		</div><!-- end dishofday-->
		<p>
			Our Kitchens have various Indian delicacies, which are rare to find in the commercial food market.  These delicacies are cooked with the knowledge & insights of our great Indian heritage & world class Indian spices, tested and verified by the expert house chefs, and last but not least these delicacies are cooked with love and passion.
		</p>
		<p>
	
			We don't promise to beat your mother's food but aims to be next best !
		</p>
	</div><!-- END RIGHT SIDE BAR COL OF MAIN CONTENT-->
	<div class="clear"></div>

<% end %>