<script>
	$(document).ready(function(){
		$(".topopup").click(function(){
			dishId = $(this).parents().children("div[id=dish_id]").html();
		if(!jQuery.isEmptyObject( dishId)){					
			$.ajax({
				async : true,
				type : 'GET',
				url : "/dishes/get_dish_for_edit/" + dishId,
				success : function(data) {
					$('#dish_edit_div').html(data);
				},
				error : function(data) {
				}
			});
		}	
		});
	});
</script>


<% if dishes.present? %>
	<% dishes.each do |d| %>
	<% if d.id.present? %>
	<div class="mealblockA">
        <label><%= d.dish_name.capitalize %></label>  
        <div class="pull-right" style="margin-right:10px;">
        	<!-- <input name="" type="checkbox" value="" /> -->
        </div>
        <div class="mealthumb">
        	<%= image_tag("Thumbs/thmb_meal1.jpg", :width => "220px",  :height => '90px') %>
            <!-- <img src="assets/images/Thumbs/thmb_meal1.jpg" width="220" height="90" /> -->
        </div><!--end mealthumb-->
        <div class="mealinfo">
        	<div id='dish_id' style="display: none"><%= d.id %></div>
        	<label style="font-size:18px; color:#333;"><%= d.course.course_name.capitalize %></label> 
        	<%= link_to "Edit Dish",  edit_kitchen_dish_path( current_user.is_kitchen? ? current_user.kitchen : Kitchen.find( params[:kitchen_id] ), d.id ), :Class => "btn-creatmeal topopup", :id => "model_editdish", :rel => "edit_dish_popup" %>
        	<div class="clearfix" style="margin:7px 0;"></div>
        </div><!--end mealinfo-->
        <div class="clearfix" style="margin:7px 0;"></div>
    </div><!--end mealblockA-->
	<% end %>
	<% end %>
<% end %>
<div class="clearfix"></div>
<br />               	
                            