<%= form_for [@kitchen, @gallery, @picture], :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => '', :style => '' %>
    </div>
  </div>
  
  <div align="middle">
      <% if @image_flag_id == '18' %>
        <%= image_tag @picture.image.large.url, :id => 'coverpic_cropbox' %>
      <% elsif @image_flag_id == '53' %>
        <%= image_tag @picture.image.large.url, :id => 'profilepic_cropbox' %>
      <% end %>
      
      <% %w[x y w h].each do |attribute| %>
        <%= f.hidden_field "crop_#{attribute}" %>
      <% end %>
  </div>
    <%= hidden_field_tag 'image_flag_id', @image_flag_id %>
    
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary btn-mini' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                kitchen_gallery_path(@kitchen, @gallery), :class => 'btn btn-mini' %>
  </div>
<% end %>