<script>
	$(document).ready(function (){
	    
	    $('.meal_category_select').change(function(){
            $.fn.changeMealDetails(this); //use class='meal_div' as parent div and id='meal_total_price' to change the price dynamically
        }).change();
	    
		$('.add_to_basket_button').click(function(){
			qty = $(this).parents("#add_to_basket_div").find("#quantity_to_be_added").val();
			
			if(qty == "" || qty > 10000 || qty <= 0){
				if(qty > 10000)
					alert("Please enter smaller Quantity");
				else{
					$(".quantity_to_be_added").val("");
					alert("Please enter valid Quantity");
				}
				return;
			}
	
			mealCategoryId = $(this).parents("#add_to_basket_div").find("#meal_category_select_tag").val();
			if(!mealCategoryId){
				alert("Select Category");
				return;
			}
			
			if( ('<%= session[:user_input].present? ? (session[:user_input].values.all? {|x| x.nil?}) : true %>' == 'true') || ('<%= session[:user_input][:menu].nil? if session[:user_input].present?  %>' == 'true') )
				$("#change_user_input").click();

			jQuery.get('/baskets/add_to_basket/' + mealCategoryId + '/' + qty, function(data) {
				if(data == "" || $(data).length <= 1)
					$("#change_user_input").click();
				else{
					$("#baskets_dynamic_div").html(data);
					alert( $("#message_div").html().trim() );
				}
				
				$(".quantity_to_be_added").val("");
			});
			
		});
	});
</script>

<%= render :partial => "meal_details.js" %>

<% if meals.present? %>
	<% meals.each do |d| %>
		<div class="mealblockA">
			<label><%= (d.meal_name.titleize).truncate(15) %></label>
			<div class="mealthumb">
				<img src="<%= d.picture.present? ? d.picture.image.mealPic.url : "/assets/Thumbs/thmb_blank_plate.jpg" %>" width="220" height="90" />
			</div>
			<div class="mealinfo meal_div">
				<div class="m-disc">
					<%= (d.description).truncate(30) %>
				</div><!--end m-disc-->
				<label style="font-size:18px; color:#333;"><%= d.cuisine %></label><label style="float:right; font-size:18px; color:#333;"><%= d.sub_menu.sub_menu_name.titleize %></label>
				<div class="clearfix"></div>
				<label style="font-size:14px; color:#333;">Serving Size </label> : <label style="font-size:14px; color:#333;"><%= d.serving_size.titleize %></label>
				<div class="clearfix"></div>
				<label style="font-size:18px; color:#333;">Price @ : </label><label id="meal_total_price" style="font-size:25px; color:#F00;"></label><div class=<%= d.is_veg ? "iconVeg" : "iconNonVeg" %>></div>
				<div class="clearfix"></div>
				<div id="add_to_basket_div">
					<div class="MealOptionsBlock">
	                     <div class="mob_colL">
	                 		<%= select_tag :meal_category_id, options_for_select(d.meal_categories.all_active.collect {|mc| [mc.category.category_name.titleize, mc.id, {'price' => number_with_two_precision(mc.rc_total_price)}] }), :id => 'meal_category_select_tag', :class => 'meal_category_select', :style => "width:200px;" %>	
	                     </div><!--end mob_colL-->
	                	<div class="mob_colR">
	                		<input name="" type="text" class="srch_qty quantity_to_be_added only_numerics" id="quantity_to_be_added" placeholder="Quantity" style="width:186px;" />
	                    </div><!--end mob_colR-->
	               </div><!--end MealOptionsBlock -->
	               <div class="MealOptionsBlock">
	               		<div class="mob_colL">
	                		<a href="javascript:void(0)" class="btn-srch_order add_to_basket_button">Order Now</a>
	                	</div>
	                	<div class="mob_colR">
	                		<a href="#" rel="meal_detail_popup" class="btn-srch_order topopup meal_detail" id=<%= d.id %> style="margin-left: 21px;">Know More</a>
						</div>
					</div>
				</div>	
			</div><!--end mealinfo-->
			<div class="clearfix"></div>
		</div><!--end mealblockA-->
	<% end %>
<% else %>
	<div class='page' style="margin-top: 10px; color: #f00; text-align: center;" >
		No results found
	</div>
<% end %>
<!-- Meal details pop-up dynamic div  -->
<div id="meal_details_div">
</div>	
<!-- end  -->