<script>
$(document).on("click", ".category_advance_search", function(){
	selectedTypeID = $(this).attr('id');
	selectedType = $(this).attr('type');
	$.ajax({
		async : true,
		type : 'GET',
		url : "/searches/category_advance_search/" + selectedTypeID + "/" + selectedType,
		success : function(data) {
			$('.meal_dynamic_generate').html(data);
		},
		error : function(data) {
		}
	});
});
</script>

<style>
img{
	max-width: 100%;
}
</style>
<ul id="flexiselDemo1" class="nbs-flexisel-ul">
	<% if categories.first.menu.menu_name.casecmp(MENU_NAME_DINNER) == 0 %>
		<% categories.each do |category|%>
		 <% if category.category_name.casecmp(STANDARD_MEAL_CATEGORY) != 0 %>
		  <li class="nbs-flexisel-item">
			<a type="category" id='<%= category.id %>' class='category_advance_search' >
				 <% if category.category_name.casecmp(DINNER_AT_DESK) == 0 %>
					<%= image_tag("SrchTopCrousal/dinner_at_desk.jpg") %>				 	
				 <% elsif category.category_name.casecmp(MY_NUTRITIONAL_NEEDS_VERIFIED) == 0 %>
				 	<%= image_tag("SrchTopCrousal/my_nutritional_needs.jpg") %>
				 <% end %>
				 <span><%= ((category.category_name).titleize) %></span>
		    </a>
		  </li>
		 <% end %>
	    <% end %>
	<% elsif categories.first.menu.menu_name.casecmp(MENU_NAME_PARTY) == 0 %>
		<% categories.each do |category|%>
		 <% if category.category_name.casecmp(STANDARD_MEAL_CATEGORY) != 0 %>
		  <li class="nbs-flexisel-item">
			<a type="category" id='<%= category.id %>' class='category_advance_search' >
				 <% if category.category_name.casecmp(KITTY_PARTY) == 0 %>
					<%= image_tag("SrchTopCrousal/dinner_at_desk.jpg") %>				 	
				 <% elsif category.category_name.casecmp(BIRTHDAY_PARTY) == 0 %>
				 	<%= image_tag("SrchTopCrousal/my_nutritional_needs.jpg") %>
				 <% elsif category.category_name.casecmp(ANNIVERSARY) == 0 %>
				 	<%= image_tag("SrchTopCrousal/anniversary.jpg") %>
				 <% elsif category.category_name.casecmp(FAMILY_GET_TOGETHER) == 0 %>
				 	<%= image_tag("SrchTopCrousal/family_get_together.jpg") %>
				 <% elsif category.category_name.casecmp(FORMAL_CORPORATE_PARTY) == 0 %>
				 	<%= image_tag("SrchTopCrousal/formal_corporate_ party.jpg") %>
				 <% elsif category.category_name.casecmp(WEEKEND_PARTY) == 0 %>
				 	<%= image_tag("SrchTopCrousal/weekend.jpg") %>	
				 <% end %>
				 <span><%= ((category.category_name).titleize) %></span>
		    </a>
		  </li>
		 <% end %>
	   <% end %>
	<% end if categories.present? %>
	
	<% sub_menus.each do |sub_menu|%>
	<li class="nbs-flexisel-item">
		<a type="sub_menu" id='<%= sub_menu.id %>' class='category_advance_search' >
			<% if sub_menu.menu.menu_name.casecmp(MENU_NAME_DINNER) == 0 %>
				<% if sub_menu.sub_menu_name.casecmp(QUICK_BITE) == 0 %>
				  <%= image_tag("SrchTopCrousal/quick_bite.jpg") %>
				<% elsif sub_menu.sub_menu_name.casecmp(TUMMY_FULL) == 0 %>
					<%= image_tag("SrchTopCrousal/tummy_full.jpg") %>
				<% elsif sub_menu.sub_menu_name.casecmp(EXTRAVAGANZA) == 0 %>
					<%= image_tag("SrchTopCrousal/extravaganza.jpg") %>
				<% end %>
			<% elsif sub_menu.menu.menu_name.casecmp(MENU_NAME_PARTY) == 0 %>
			
				<% if sub_menu.sub_menu_name.casecmp(LIGHT_COMBO) == 0 %>
					<%= image_tag("SrchTopCrousal/light_combo.jpg") %>
				<% elsif sub_menu.sub_menu_name.casecmp(DESSERT_COMBO) == 0 %>
					<%= image_tag("SrchTopCrousal/dessert.jpg") %>	
				<% elsif sub_menu.sub_menu_name.casecmp(STARTER_COMBO) == 0 %>
					<%= image_tag("SrchTopCrousal/starter_combo.jpg") %>
				<% elsif sub_menu.sub_menu_name.casecmp(STARTER_DHAMAKA) == 0 %>
					<%= image_tag("SrchTopCrousal/starter_dhmaka.jpg") %>
				<% elsif sub_menu.sub_menu_name.casecmp(FAMILY_FEAST) == 0 %>
					<%= image_tag("SrchTopCrousal/family_feast.jpg") %>
				<% elsif sub_menu.sub_menu_name.casecmp(TRADITIONAL_FEST) == 0 %>
					<%= image_tag("SrchTopCrousal/traditional_feast.jpg") %>
				<% end %>
			<% end %>
			<span><%= ((sub_menu.sub_menu_name).titleize) %></span>
		</a>
	</li>
	<% end if sub_menus.present? %>
	<li  class="nbs-flexisel-item">
		<a id='<%= ALL %>' class='category_advance_search' ><%= image_tag("SrchTopCrousal/all.jpg") %><span>All</span></a>
	</li>
</ul>
 

<div class="clearfix"></div>

<div id="SearchPanel">
	<%= form_for :search, :url => {:controller => 'searches', :action => 'index'} do |f| %>
	    <div class="ASR_Row">                
		<% sub_menus.each do |sub_menu| %>
			<div class="ASR_Colm">
				<%= check_box_tag 'sub_menu_ids[]', sub_menu.id,  (advance_options.present? && (advance_options[:sub_menu_ids].present? ) && (advance_options[:sub_menu_ids].include?(sub_menu.id)) ? true : false) %>
				<%= (sub_menu.sub_menu_name).titleize %>
			</div>
		<% end if sub_menus.present? %>	
			<div class="ASR_Colm">
				<%= check_box_tag 'sub_menu_ids[]', ALL,  (advance_options.present? && (advance_options[:sub_menu_ids].present? ) && (advance_options[:sub_menu_ids].include?(ALL)) ? true : false) %>
				<%= ALL %>
			</div>
		</div>
		<table width="100%" border="0" cellspacing="10" cellpadding="0">
			<tr style="background:#999; font-weight:bold; color:#fff;">
				<td width="230px">Cusine Type</td>
				<td>Spicy Level</td>
				<td>Type</td>
			</tr>
			<tr>
				<td>
					<table>
					<% CUISINE.each do |c| %>
					<tr>
						<td>
							<%= check_box_tag 'cuisines[]', c,  (advance_options.present? && ( advance_options[:cuisines].present? ) && (advance_options[:cuisines].include?(c)) ? true : false) %>
							<!-- <input name="cuisines[]" type="checkbox" value="< %= c % >"></td><td>< %= c % > -->
						</td>
						<td>
							<%= c %>		
						</td>
					</tr>	
					<% end %>
					</table>
				</td>
				<td valign="top">
					<table>
					<% SPICY_LEVEL.each do |spicy_level| %>
					<tr>
						<td>
							<!-- <input name="spicy_levels[]" type="checkbox" value="< %= spicy_level % >"></td><td>< %= spicy_level % > -->
							<%= check_box_tag 'spicy_levels[]', spicy_level, (advance_options.present? && (advance_options[:spicy_levels].present?) && (advance_options[:spicy_levels].include?(spicy_level)) ? true : false) %>	
						</td>
						<td>
							<%= spicy_level %>	
						</td>
					</tr>	
					<% end %>
					</table>
				</td>
				<td valign="top">
					<table>
					<% VEG_NONVEG.each do |k, v| %>
					<tr>
						<td>
							<!-- <input name="meal_type[]" type="checkbox" value="< %= k % >"></td><td>< %= k % > -->
							<%= check_box_tag 'meal_type[]', k, (advance_options.present? && (advance_options[:veg_non_veg].present?) && (advance_options[:veg_non_veg].include?(v)) ? true : false) %>	
						</td>
						<td>
							<%= k %>
						</td>	
					</tr>	
					<% end %>
					</table>
				</td>		
			</tr>	
			<tr>
				<td colspan="8" align="center"><%= f.submit "Refine Search", :class => "btn_RefineSrch" %></td>
			</tr>
	</table>
	
	<% end %>
</div>
<div class="clearfix"></div>