<div id="workspace">
	<%= render :partial => '/kitchens/kitchen_header', :locals => {:kitchen => @kitchen} %>        
        <h1><%= @kitchen.kitchen_name %></h1>
        
        <%- model_class = @gallery.class -%>
        <!-- <div class="page-header"> -->
          <h4><%=t '.title', :default => t('helpers.titles.new', :model => model_class.model_name.human,
                                         :default => "New Album") %></h4><!--  #{model_class.model_name.human} -->
        <!-- </div> -->
        <!-- < % = render :partial => 'form' % > -->
        <%= form_for [@kitchen], :validate => true, :url => kitchen_galleries_path, :method => 'post', :html => { :class => 'form-horizontal' } do |f| %>
          <%= f.fields_for @gallery, :validate => true do |g| %>
                <!-- < % = g.hidden_field :kitchen_id, :name=>'kitchen[gallery][kitchen_id]', :value=>@kitchen.id % > --> 
              <div class="control-group">
                <%= g.label "Album Name", :class => 'control-label' %>
                <div class="controls">
                  <%= g.text_field :gallery_name, :class => '', :style => "" %>
                </div>
              </div>
              <div class="control-group">
                <%= g.label :description, :class => 'control-label' %>
                <div class="controls">
                  <%= g.text_field :description, :class => '', :style => "" %>
                </div>
              </div>
            
              <div class="form-actions">
                <%= g.submit "Create Album", :class => '' %>
                <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                            kitchen_galleries_path(@kitchen), :class => '' %>
              </div>      
          <% end %>
        <% end %>
 </div>
