<script>
    function deleteGallery(me)
    {       
        // iDiv = me.parentNode.parentNode.parentNode.parentNode;
        // alert(iDiv.outerHTML);
                                    
        $.ajax({
          url: $(me).attr('href'),
          type: 'DELETE',
          success: function(response) {
            window.location.href = "/kitchens/<%= @kitchen.id %>"
          }
        });     
        
        return false;
    }
</script>
<div id="workspace">
	<%= render :partial => '/kitchens/kitchen_header', :locals => {:kitchen => @kitchen} %>
<div>


<div class="K_Dish_Display">
    <div class="K_D_Head">
        <h1 class="pull-left">
            <a href="<%= kitchen_galleries_path(@kitchen) %>" style="text-decoration: none; color: inherit" path = "/orders/get_all_orders">Album</a>
        </h1>
        <table class="pull-right" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td></td>
                <td>
                </td>
            </tr>
        </table>

        <div class="clearfix"></div>
        <div class="K_D_Filter_Row" style="border-bottom: 1px #DDDDDD solid;">
            <a style="cursor: default">
                <% if @gallery.gallery_name == DEFAULT_GALLERY_NAME %>
                    ...
                <% else %>
                    <%= @gallery.gallery_name %>
                <% end %>
            </a>
        </div>
    </div><!--end K_D_Head -->
    <div class="inner">
        <div  class="orders_data">
            <input type="hidden" id="galleryID" value="<%= @gallery.id %>">
            <input type="hidden" id="kitchenID" value="<%= @kitchen.slug %>">  
			<% if @gallery.description.present? %>
    			<b>Description: </b>
    			<%= @gallery.description %>
			<% end %>

			<%= form_for [@kitchen, @gallery, @picture], :html => { :multipart => true, :id => "fileupload"  } do |f| %>

			<% if can? :edit, @gallery %>
			<div class=" fileupload-buttonbar">
				<div class="progressbar fileupload-progressbar nofade">
					<div style="width:0%;"></div>
				</div>
				<span class="fileinput-button btn-creatmeal">
				    <i class="icon-plus"></i>
				    <span><%= t('photos.add_pictures') %>...</span>
				    <%= f.file_field :image, :multiple => true %>
			    </span>
			</div>
			<div class="clear"></div>
			<% end %>
			<div>
				<ul class="thumbnails files" style="margin-top: 20px">
					<% unless @pictures.empty? %>
					<% @pictures.each do |pic| %>
					<li class="span3" id="picture_<%= pic.id %>">
						<div class="thumbnail" id = "pic_div">
							<a href="<%= pic.image.url %>" rel="lightbox-pictures" title="<%= pic.description %>"> <img src="<%= pic.image.thumb.url %>" alt="" > </a>
							<% if can? :edit, @gallery %>
							<div>
								<p style="text-align: center;">

									<!-- < % = link_to 'Set as Cover Picture', edit_kitchen_gallery_picture_path(@kitchen, @gallery, :id => pic.id, :image_flag_id => 18), :class => "btn btn-mini btn_font"  % > -->
									<%= link_to 'Set as Profile Picture', edit_kitchen_gallery_picture_path(@kitchen, @gallery, :id => pic.id, :image_flag_id => 53), :class => "btn btn-mini btn_font" %>
									<a class="btn btn-mini btn-delete" data-method="delete" href="<%= kitchen_gallery_picture_path(@kitchen, @gallery, pic.id) %>" data-remote=true> <i class="icon-trash"></i> Delete </a>
								</p>
							</div>
							<% end %>
						</div>
					</li>
					<% end %>
					<% end %>
				</ul>
				<div class="clear"></div>
			</div>
			<% end %>
            
        </div>
        <div class="clearfix"></div>
    </div>
</div><!-- end K_Dish_Display -->          
          
        
        <script>
          var fileUploadErrors = {
            maxFileSize: 'File is too big',
            minFileSize: 'File is too small',
            acceptFileTypes: 'Filetype not allowed',
            maxNumberOfFiles: 'Max number of files exceeded',
            uploadedBytes: 'Uploaded bytes exceed file size',
            emptyResult: 'Empty file upload result'
          };
        </script>
        
        
        
        <script id="template-download" type="text/html">
          {% for (var i=0, files=o.files, l=files.length, file=files[0]; i<l; file=files[++i]) { %}
          <tr class="template-download nofade">
            {% if (file.error) { %}
            <td></td>
            <td class="name">{%=file.name%}</td>
            <td class="size">{%=o.formatFileSize(file.size)%}</td>
            <td class="error" colspan="2"><span class="label important">Error</span> {%=fileUploadErrors[file.error] || file.error%}</td>
            {% } else { %}
            <td class="preview">{% if (file.thumbnail_url) { %}
              <a href="{%=file.url%}" title="{%=file.name%}" rel="gallery"><img src="{%=file.thumbnail_url%}"></a>
            {% } %}</td>
            <td class="name">
              <a href="{%=file.url%}" title="{%=file.name%}" rel="{%=file.thumbnail_url&&'gallery'%}">{%=file.name%}</a>
            </td>
            <td class="size">{%=o.formatFileSize(file.size)%}</td>
            <td colspan="2"></td>
            {% } %}
            <td class="delete">
            <button class="btn btn-danger" data-type="{%=file.delete_type%}" data-url="{%=file.delete_url%}"><%= t('photos.template.delete') %></button>
            <input type="checkbox" name="delete" value="1">
            </td>
          </tr>
          {% } %}
        </script>
        
        <%= javascript_include_tag 'jquery.ui.widget.js' %>
        <%= javascript_include_tag 'jquery.iframe-transport.js' %>
        <%= javascript_include_tag 'jquery.fileupload.js' %>
        <%= javascript_include_tag 'jquery.fileupload-ui.js' %>
        <div>
        <div class="form-actions">
        
            <%= link_to 'Back', kitchen_galleries_path(@kitchen), :class => '' %>
            <% if can? :edit, @gallery %>
            <%= link_to 'Edit', edit_kitchen_gallery_path(@kitchen, @gallery), :class => '' %>
            <%= link_to 'Delete', kitchen_gallery_path(@kitchen, @gallery), :onclick => 'deleteGallery(this); return false;', :class => '' if @gallery.gallery_name != DEFAULT_GALLERY_NAME %>
            <% end %>
        </div>
        </div>
</div>
</div>