<div id="header_rc">
	
	<table cellpadding="0" cellspacing="0" border="0" width="100%">
		<tr>
			<td>
				<a href="<%= root_path %>" class="logo" title="Logo Rasoi Club"></a><!-- end logo -->
			</td>
			<td valign="top">
				<div class="toplinkrow">
					<label class="tophead">Order via call : +91-9881-737-978 | </label>
				
                    <% if current_user %>
                    <ul id="user_nav">
                        <li>
                            <a>
                                <% if !(current_user.get_name.nil?) && !(current_user.get_name.blank?) && (current_user.get_name != " ") %>
                                    <%= (current_user.get_name).truncate(20) %>
                                <% else %>
                                    <%= (current_user.get_email).truncate(20)%>
                                <% end %>
                            </a>
                            <ul><!-- ------------------Kitchen's User-------------- -->
                                <% if current_user.is_kitchen? %>
                                    <li>
                                        <%= link_to "Home", kitchen_path(current_user.kitchen) %>
                                    </li>
                                    <li>
                                        <%= link_to "Profile", edit_kitchen_path(current_user.kitchen) %>
                                    </li>
                                    <!-- ------------------User's User-------------- -->
                                    <% elsif current_user.is_user? %>
                                    <li>
                                        <%= link_to "Home", root_path %>
                                    </li>
                                    <li>
                                        <%= link_to "My Orders", user_my_orders_path(current_user) %>
                                    </li>
                                    <li>
                                        <%= link_to "Personal Details", edit_user_path(current_user) %>
                                    </li>
                                    <!-- ------------------Employee's User-------------- -->
                                    <% elsif current_user.is_employee? %>
                                    <li>
                                        <%= link_to "Home", employee_path(current_user.employee) %> <!-- {:controller => 'logins', :action => 'reset_password', :id => current_login.id} -->
                                    </li>
                                    <li>
                                        <%= link_to "Kitchens", kitchens_path %>
                                    </li>
                                    <li>
                                        <%= link_to "Orders", orders_path %>
                                    </li>
                                    <% end %>
                                    <li>
                                        <%= link_to "Change Password", login_reset_password_path(current_user) %> <!-- {:controller => 'logins', :action => 'reset_password', :id => current_login.id} -->
                                    </li>
                                    <li>
                                        <%= link_to "Logout", login_path(current_login.id), :method => :delete %> <!-- { :action => :destroy, :method => :delete, :controller => :logins } -->            
                                    </li>
                            </ul>
                        </li>
                    </ul>
                    <% else %>
                    <ul id="user_nav">
                        <li>
                            <a>Login</a>
                            <ul>
                                <li>
                                    <%= link_to "Login", new_login_path %>
                                </li>
                                <li>
                                    <%= link_to "Consumer Registration", new_user_path %>
                                </li>
                                <li>                                
                                    <%= link_to "Kitchen Registration", new_kitchen_path %>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <% end %>
				
				
				</div><!--end toplinkrow-->
				
				<div id="HeaderBrandBlock">
					<!-- <input name="" type="text" class="search" value="Search your food" />
					<input name="" type="button" class="btnsrch" /> -->
					<% if session[:user_input].present? && session[:user_input][:menu].present? %>
						<%= form_for :search, :url => {:controller => 'searches', :action => 'index'} do |f| %>
							<%= f.autocomplete_field :filter_text, autocomplete_dish_name_searches_path, :class => "search", :placeholder => SEARCH_BOX_PLACEHOLDER %>
							<%= f.submit("", :class => "btnsrch") %>
							
							<div id="adv_srch_sk">
								<!-- < %= render :partial => 'layouts/advance_search_options', :locals => {:advance_options => @advance_options} % > -->
							</div>
							
						<% end %>
					<% end %>
				</div><!-- end HeaderBrandBlock -->
			</td>
		</tr>
	</table>

</div><!-- end header -->