<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	  <title>RasoiclubCom</title>
	  <%= stylesheet_link_tag    "application", :media => "all" %>
	  <%= javascript_include_tag "application" %>
	  <%= csrf_meta_tags %>
	
    <script type="text/javascript">
        $(document).ready(function() {
            $(".only_numerics").keypress(function (e) {
                if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                    //$(".errmsg").html("Digits Only").show().fadeOut("slow");
                    return false;
                }
            });
            
            $('.only_float').keypress(function(event) {
                if ((event.which != 46 || $(this).val().indexOf('.') != -1) &&(event.which != 8)&& (event.which < 48 || event.which > 57)) {
                    event.preventDefault();
                }
            });
           // date pick for delivery date only show 3 months from current date 
            $('.datepick').datepicker({ 
                minDate: 0,
                maxDate: 90,
                dateFormat: 'dd MM yy',
                showAnim: 'fadeIn',
                constrainInput: true,
                changeMonth : true,
                changeYear : true,
                yearRange: "-100:+10",
                showOn: "button",
                buttonImage: "/assets/calendar.gif",
                buttonImageOnly: true
            });
           //Date pick for date of birth and others
            $('.dobdatepick').datepicker({
		      dateFormat : 'dd MM yy',
		      changeMonth : true,
		      changeYear : true,
	           yearRange: "-100:+10",
	           showOn: "button",
	           buttonImage: "/assets/calendar.gif",
	           buttonImageOnly: true
	    	});
	    	//End of date pick for date of birth
            $('.path_link a').click(function() {
                path = $(this).attr('path');
                $.ajax({
                    async : true,
                    type : 'GET',
                    url : path,
                    success : function(data) {
                        $('.orders_data').html(data);
                    },
                    error : function(data) {
                    }
                });
                
            });
            
            // $('.timepick').timepicker({
                // ampm: true,
                // timeFormat: 'hh:mm TT',
                // stepMinute: 5
            // });
            
            //-----------------------------------Custom JQuery function------------------------------------------------
            $.fn.changeMealDetails = function(me)
            {
               dishPrice = $(me).find('option:selected').attr('price');
                if(dishPrice)
                {
                    $(me).parents('.meal_div').find('#meal_total_price').html(dishPrice + '/-');
                }
                else
                {
                    $(me).parents('.meal_div').find('#meal_total_price').html("Not Available");
                }
            }
        });
    </script>
	<!-- To Remove Errors message after some time -->
	<script>
		$(document).ready( function (){
			setTimeout(function() {
				$(".notice, .alert").fadeOut('slow');
			}, 3000); // <-- time in milliseconds
		});
	</script>
	<!-- End -->
	
	</head>
  
  <body>
		<div id="wraper">
			<%= render :partial => 'layouts/header' %>
			<div id="workspace">
				<%= yield %>
			</div><!-- end workspace -->
		</div>
		<%= render :partial => 'layouts/footer' %>
	</body>

</html>
